<header class="sidebar">
            <div class="top-section">
                <div class="brand">
                    <a href="/">
                        <h1 class="logo-name">Stefania<br>Grigore</h1>
                    </a>
                    <p class="role">Graphic Design &<br>Concept Art</p>
                </div>

                <nav class="main-nav">
                    <div class="nav-group">
                        <span>Projects</span>
                        <a href="/projects/01-experimental-posters/">Graphics</a>
                        <a href="/projects/02-web-dev/">Web Development</a>
                        <a href="/projects/03-games/">Hangman Game</a>
                    </div>

                    <div class="nav-group info-group">
                        <a href="/about/about-me/">About Me</a>
                        <!-- <a href="index.html#contact">Contact</a> -->
                    </div>
                </nav>
            </div>

            <div class="bottom-section">
                <div class="socials">
                    <a href="https://github.com/Goat3ggs" target="_blank"><i class="fa-brands fa-github"></i></a>
                    <a href="https://www.linkedin.com/in/grigore-any-mary-stefania/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
                    <a href="https://www.instagram.com/goateggs_/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                </div>
            </div>
        </header>